.profile {
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid #ccccccfd;
margin: 0 auto;
font-weight: 700;
background-color: #2aa5a0;
background-image: linear-gradient(90deg, #E3535D, #2AA5A0);
-webkit-text-fill-color: rebeccapurple;

background-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
box-shadow: 0px 1px 2px 0px rgba(0, 85, 255, 0.7),
            1px 2px 4px 0px rgba(0,85,255,0.7),
            2px 4px 8px 0px rgba(0,85,255,0.7),
            2px 4px 16px 0px rgba(0,85,255,0.7);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.avatar {
  display: block;
  width: 100px;
  max-width: 100%;
}

.name {
  font-size: 24px;
  margin: 0;
  margin-bottom: 25px;
}


.tag,
.location {
  font-size: 18px;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-evenly;

  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.stats li {
  flex-basis: calc(100% / 3);
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(102, 51, 153, 0.282);
  background-color: #ccccccae;
}

.label,
.quantity {
  display: block;
}

.quantity {
  font-weight: 700;
}
